<div class="container">
  <div class="wrap">
    <div class="cont-text">
      <h3>Portafolio</h3>

      <p>Proyectos realizados en mi experiencia.</p>
    </div>

    <!-- Portafolio Proyectos Carga externa -->
    <div class="cont-card">
      <a *ngFor="let project of projectArray" title="visitar web" href="{{project.web}}" target="_blank"
        class="link-card">
        <div class="img-card">
          <img src="{{project.img}}">
        </div>
        <div class="description">
          <h2>{{ project.title }} <i class="fas fa-external-link-alt"></i> </h2>
          <div class="descrip-text">
            <p>{{ project.description }}</p>
            <h4> {{project.tecno}} </h4>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>