<div class="container">
    <div class="triangule" #triangule>
    <i class="fad fa-triangle"></i>
    <i class="fad fa-triangle"></i>
    <i class="fad fa-triangle"></i>
    <i class="fad fa-triangle"></i>
</div>
<!--?==== Presentacion main ====-->
<div class="cont-present">
    <div class="cont-text">
        <p>
            Hola, soy Denilson Bastidas Desarrollador Web.
        </p>
        <small>Bienvenido a mi Portafolio</small>

        <div class="contacto">
          <h4>Contacto</h4>
            <div class="cont-contact">
            <a href="https://www.instagram.com/denilsonbastidas/" target="_blank" class="instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://github.com/denilsonbastidas" target="_blank" class="github">
                <i class="fab fa-github"></i>
            </a>

            <a href="https://www.linkedin.com/in/denilson-bastidas-568944201/" target="_blank" class="linkedin">
                <i class="fab fa-linkedin-in"></i>
            </a>

            <a href="https://www.facebook.com/denilsonmcgrady" target="_blank" class="facebook">
                <i class="fab fa-facebook-f"></i>
            </a>

            <a href="mailto:denilsonbastidas3@gmail.com" target="_blank" class="gmail">
                <i class="far fa-envelope"></i>
            </a>
        </div>
        </div>
    </div>

    <div class="cont-photo">
        <img src="../../../assets/images/photo.jpeg" alt="Foto de perfil">
    </div>
    
<!--! contenedor de temas  -->
    <!-- <div class="cont-themes" #contThemes>
       <div class="cont-cog" (click)="showHeight()">
            <i class="fas fa-cog"></i>
       </div>

       <div class="cont-colors">
           <div class="color-blue"></div>
           <div class="color-green"></div>
           <div class="color-yellow"></div>
       </div>
    </div> -->
</div>
</div>
