<footer class="footer">
  <div class="cont-repo">
    <div class="text-repo">
      <h3>Repositorio de los Proyectos</h3>

      <p>
        Todos los proyectos y colaboraciones realizadas se pueden encontrar
        en el siguiente enlace de mis repositorios.
      </p>

    </div>

    <div class="cont-repo-btn">
      <a href="https://github.com/denilsonbastidas" target="_blank">Github <i class="fab fa-github"></i> </a>
    </div>

    <div class="end-foo">
      <h1>Denilson Bastidas 2021&copy;</h1>
    </div>
  </div>
</footer>
