<div class="container">
  <div class="cont-title">
    <h2>{{ title }}</h2>

    <p>
      Las siguientes tecnoglogias son las que mejor domino, y en las cuales e
      implementado tanto en proyectos personales como empresariales.
    </p>
  </div>

  <section class="cont-tecno">
    <!--? ======= Row One ==========-->
    <div class="row">
      <div class="cont-html">
        <i class="fab fa-html5"></i>
        <p>HTML</p>
        <!-- <small>95%</small> -->
        <div class="progres-bar-html"></div>
      </div>

      <div class="cont-css">
        <i class="fab fa-css3-alt"></i>
        <p>Css</p>
        <!-- <small>90%</small> -->

        <div class="progres-bar-css"></div>
      </div>

      <div class="cont-sass">
        <i class="fab fa-sass"></i>
        <p>Sass</p>
        <!-- <small>80%</small> -->

        <div class="progres-bar-sass"></div>
      </div>

      <div class="cont-less">
        <i class="fab fa-less"></i>
        <p>Less</p>
        <!-- <small>75%</small> -->

        <div class="progres-bar-less"></div>
      </div>

      <div class="cont-responsive">
        <i class="fas fa-laptop"></i>

        <p>Responsive-Web</p>
        <!-- <small>85%</small> -->

        <div class="progres-bar-responsive"></div>
      </div>
    </div>

    <!--?=======row Dwo ===========-->

    <div class="rowDwo">
      <div class="cont-bootstrap">
        <i class="fab fa-bootstrap"></i>
        <p>Bootstrap</p>
        <!-- <small>80%</small> -->
        <div class="progres-bar-bootstrap"></div>
      </div>

      <div class="cont-javascript">
        <i class="fab fa-js-square"></i>
        <p>javaScript</p>
        <!-- <small>75%</small> -->

        <div class="progres-bar-java"></div>
      </div>

      <div class="cont-jquery">
        <p>jQuery</p>
        <!-- <small>90%</small> -->

        <div class="progres-bar-jquery"></div>
      </div>

      <div class="cont-git">
        <i class="fab fa-git"></i>
        <p>Git</p>
        <!-- <small>70%</small> -->

        <div class="progres-bar-git"></div>
      </div>

      <div class="cont-type">
        <i class="fab fa-js"></i>
        <p>TypeScript</p>
        <!-- <small>75%</small> -->

        <div class="progres-bar-type"></div>
      </div>

      <div class="cont-angular">
        <i class="fab fa-angular"></i>
        <p>Angular</p>
        <!-- <small>75%</small> -->

        <div class="progres-bar-angular"></div>
      </div>

      <div class="cont-react">
        <i class="fab fa-react"></i>
        <p>React</p>
        <!-- <small>75%</small> -->

        <div class="progres-bar-react"></div>
      </div>
    </div>
  </section>

  <div class="cont-title-Dwo">
    <h2>Tecnologias que me gustaria Aprender</h2>
  </div>

  <!--? ======= Tecnologias En proceso ==========-->

  <div class="rowProcess">
    <div class="cont-node">
      <i class="fab fa-node"></i>
      <p>Node.js</p>
    </div>

    <div class="cont-mongodb">
      <i class="fas fa-database"></i>
      <p>MongoDB</p>
    </div>
  </div>
</div>
