<div class="container">
  <div class="cont-deni">
    <h2>Denilson</h2>
  </div>

  <div class="cont-wrap">
    <div class="cont-title">
      <div class="text-mi">
        <h2>Acerca de mí</h2>
      </div>

      <div class="data-mi">
        <p><strong>Residencia:</strong> Maracay,Venezuela</p>
        <p><strong>Estudio Actual:</strong> Estudiante Ing. En Sistemas</p>
        <p><strong>Disponibilidad:</strong> Disponible (Tiempo Completo)</p>
      </div>

      <div class="text-p">
        <p>
          Soy un Desarrollador Web, Estudiante y autodidacta
          <b
            >responsable, proactivo, motivado, enfocado, creativo, puntual e
            innovador,
          </b>
          que tiene por objetivo el Desarrollo de sitios web con interfaz
          agradable, codigo limpio y con muchas ganas de seguir aprendiendo
          nuevas tecnologias, siendo una persona comprometida con mi trabajo,
          tambien poseo cualidades a nivel social que me permiten elaborar
          cualquier tarea en equipo.
        </p>
      </div>
      <div class="cont-btn">
        <a [routerLink]="['/']">Contáctame</a>
        <a href="../../../assets/images/Denilson-Frontend.pdf" target="_blank"
          >Ver CV</a
        >
      </div>
    </div>

    <div class="cont-img">
      <img src="../../../assets/images/acerca.svg" alt="imagen svg" />
    </div>

    <!-- experiencia laboral -->
  </div>
</div>
